@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import "colors";

$width-desktop: 1440px;
$width-mobile: 375px;
$font-size: 20px;
$grey-decoration: "./images/bg-pattern-desktop.svg";
$girl-illustration: "./images/illustration-woman-online-desktop.svg";
$box-illustration: "./images/illustration-box-desktop.svg";
$girl-mobile: "./images/illustration-woman-online-mobile.svg";

:root {
  font-size: $font-size;
}

body {
  background: linear-gradient($soft-violet-grad, $soft-blue-grad);
  color: #fff;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Kumbh Sans", sans-serif;
}

$ratio: 92/51;
$cardHeight: 25rem;
$cardWidth: $cardHeight * $ratio;

.cardWrapper {
  width: $cardWidth;
  height: $cardHeight;

  background-color: #fff;
  border-radius: 15px;
  color: $desat-blue-txt;
  display: flex;
  box-shadow: 0 1.2rem 12px #0004;

  transition-property: width, height;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  .illustration {
    position: relative;
    width: $cardWidth/2;
    height: 100%;

    .decoration {
      height: 100%;
      width: $cardWidth/2;
      position: absolute;
      background-image: url($grey-decoration);
      background-repeat: no-repeat;
      background-size: 210%;
      background-position: -29rem -14rem;
      overflow: hidden;
    }

    .girl {
      height: 100%;
      width: $cardWidth/2;
      position: absolute;
      background-image: url($girl-illustration);
      background-repeat: no-repeat;
      background-size: 95%;
      background-position: -3.5rem 4.5rem;
    }

    .box {
      height: 100%;
      width: $cardWidth/2;
      position: absolute;
      background-image: url($box-illustration);
      background-repeat: no-repeat;
      background-size: 45%;
      transform: translate(-5rem, 10rem);
      animation: levitation 2s ease-in-out infinite alternate;

      @keyframes levitation {
        0% {
          transform: translate(-5rem, 10rem);
        }
        100% {
          transform: translate(-5rem, 9.5rem);
        }
      }
    }
  }

  .faq {
    height: 100%;
    width: $cardWidth/2;
    display: grid;
    place-items: center;
    justify-content: start;

    .questionsContainer {
      .title {
        text-align: start;
      }
      details.answer {
        color: $dark-gray-blue-txt;
        font-size: 0.65rem;
        width: 28em;
        margin: 1.2em 0;

        summary.question {
          margin-bottom: 0.8em;
          position: relative;
          font-size: 0.75rem;
          color: $vdark-gray-blue-txt;
          list-style: none;

          &::-webkit-details-marker {
            display: none;
          }

          &::after {
            position: absolute;
            right: 0px;
            content: url("./images/icon-arrow-down.svg");
            transform: scale(0.8);
            transform-origin: center;
          }
        }
      }

      details.answer[open] summary.question {
        font-weight: bold;

        &::after {
          transform: rotate(180deg) scale(0.8);
        }
      }

      hr {
        border: 0.2px solid $lt-gray-blue-div;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .cardWrapper {
    width: 17rem;
    height: 27rem;
    flex-direction: column;

    .illustration {
      height: 8rem;
      width: 100%;

      .decoration,
      .girl,
      .box {
        display: none;
      }

      .girlMobile {
        height: 17em;
        width: 17em;
        position: absolute;
        background-image: url($girl-mobile);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        transform: translate(0%, -55%);
      }

      .girlMobileShadow {
        height: 17em;
        width: 17em;
        position: absolute;
        background-color: hsl(240, 100%, 97%);
        mask-image: url($girl-mobile);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 80%;
        transform: translate(0%, -45%);
      }
    }

    .faq {
      height: 100%;
      width: 17rem;
      display: grid;
      place-items: center;
      justify-content: center;
      align-items: start;
      .questionsContainer {
        .title {
          text-align: center;
        }
        details.answer {
          color: $dark-gray-blue-txt;
          font-size: 0.65rem;
          width: 15rem;
          margin: 1.2em 0;
        }
      }
    }
  }
}
